;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================

[color]

; Active Shade
shade1 = #282629
shade2 = #37474F
shade3 = #455A64
shade4 = #546E7A
shade5 = #607D8B
shade6 = #78909C
shade7 = #90A4AE
shade8 = #B0BEC5

;; Active Colors
bground = #282a36
fground = #f7f7f7
;borderbg = #f7f7f7
accent = #546E7A
modulefg = #f7f7f7
modulefg-alt = #f7f7f7

;; Other
trans = #00000000
white = #FFFFFF
black = #000000

;; Material Colors
red = #e53935
pink = #d81b60
purple = #8e24aa
deep-purple = #5e35b1
indigo = #3949ab
blue = #1e88e5
light-blue = #039be5
cyan = #00acc1
teal = #00897b
green = #43a047
light-green = #7cb342
lime = #c0ca33
yellow = #fdd835
amber = #ffb300
orange = #fb8c00
deep-orange = #f4511e
brown = #6d4c41
grey = #757575
blue-gray = #546e7a



[bar/barbase]
width = ${env:width}
offset-x = ${env:offsetx}
monitor = ${env:monitor}
;offset-y = ${env:y}
;width = 100%
height = 24
fixed-center = true

background = ${color.bground}
foreground = ${color.fground}

radius-top = 0.0
radius-bottom = 0.0

overline-size = 2
overline-color = ${color.accent}

font-0 = "Terminus (TTF):size=11;2"
modules-center = time
modules-right = right5 cpu right3 backlight right2 battery right4 alsa right3 network right2 date right1 powermenu

tray-position = right
tray-detached = false
tray-maxsize = 16
tray-background = ${color.shade1}
tray-offset-x = 0
tray-offset-y = 0
tray-padding = 1
tray-scale = 1.0

enable-ipc = true

[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1
[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar2]
inherit = bar/barbase
modules-left = workspace2
[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar3]
inherit = bar/barbase
modules-left = workspace3
[module/workspace3]
type = custom/script
exec = leftwm-state -w 3 -t $SCRIPTPATH/template.liquid
tail = true



[settings]

throttle-output = 5
throttle-output-for = 10
throttle-input-for = 30

screenchange-reload = false

compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over


;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/title]
type = internal/xwindow

format = <label>
format-background = ${color.shade3}
format-foreground = ${color.modulefg}
format-padding = 1

label = %title%
label-maxlen = 30

label-empty = ArcoLinux
label-empty-foreground = #707880

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/workspaces]
type = internal/xworkspaces

pin-workspaces = true
enable-click = true
enable-scroll = true

label-active = 
label-occupied = 
label-urgent = 
label-empty = 

format = <label-state>

label-monitor = %name%
label-active-foreground = ${color.accent}
label-occupied-foreground = ${color.yellow}
label-urgent-foreground = ${color.red}
label-empty-foreground = ${color.modulefg-alt}

label-active-padding = 1
label-urgent-padding = 1
label-occupied-padding = 1
label-empty-padding = 1


;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/date]
type = internal/date
interval = 1.0

time =  %I:%M %p
time-alt =  %d/%m/%Y%

format = <label>
format-background = ${color.shade2}
format-foreground = ${color.modulefg}
format-padding = 1
label = %time%

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/cpu]
type = internal/cpu

; Seconds to sleep between updates
; Default: 1
interval = 0.5
format = <label>
label = CPU %percentage%%
format-background = ${color.shade4}
format-foreground = ${color.modulefg}
format-padding = 1


[module/left1]
type = custom/text
content-background = ${color.shade2}
content-foreground = ${color.shade1}
content = "%{T3}%{T-}"

[module/left2]
type = custom/text
content-background = ${color.shade3}
content-foreground = ${color.shade2}
content = "%{T3}%{T-}"

[module/left3]
type = custom/text
content-background = ${color.bground}
content-foreground = ${color.shade3}
content = "%{T3}%{T-}"

#+++++++++++++++++++++++++++++++++++++++

[module/right1]
type = custom/text
content-background = ${color.shade2}
content-foreground = ${color.shade1}
content = "%{T3}%{T-}"

[module/right2]
type = custom/text
content-background = ${color.shade3}
content-foreground = ${color.shade2}
content = "%{T3}%{T-}"

[module/right3]
type = custom/text
content-background = ${color.shade4}
content-foreground = ${color.shade3}
content = "%{T3}%{T-}"

[module/right4]
type = custom/text
content-background = ${color.shade2}
content-foreground = ${color.shade4}
content = "%{T3}%{T-}"

[module/right5]
type = custom/text
content-background = ${color.bground}
content-foreground = ${color.shade4}
content = "%{T3}%{T-}"

[module/right6]
type = custom/text
content-background = ${color.shade4}
content-foreground = ${color.shade3}
content = "%{T3}%{T-}"

[module/right7]
type = custom/text
content-background = ${color.bground}
content-foreground = ${color.shade4}
content = "%{T3}%{T-}"
